Investigacion3/investigacion3.aux
Investigacion3/investigacion3.lof
Investigacion3/investigacion3.log
Investigacion3/investigacion3.lot
Investigacion3/investigacion3.out
Investigacion3/investigacion3.synctex.gz
Investigacion3/investigacion3.toc
